

/* ==========================================================================
Author's custom styles
========================================================================== */




#landingPage-paper{
	height: 720px;
	margin:0px;
	padding:0px;
	background: url(/static/img/landingPage/main-paper-bg.png) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

}


body {
	margin:0px;
	padding:0px;
	background: url(/static/img/landingPage/main-whole-paper-bg.png) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	overflow:scroll;
	height: 30000px;
}



/****** FONTS ******/
.fontRaleway{
	font-family: 'Raleway', sans-serif; 
	font-weight: 100;
}

.fontCodystar{
	font-family: 'Codystar', cursive;
}

.c-white{
	color: #fff;
}

.text-align-center{
	text-align: center;
}

.s1{
	font-size: 12px;
}

.s2{
	font-size: 15px;
}

.s3{
	font-size: 24px;
}

.s4{
	font-size: 36px;
}



/* white background */
div.container {
/*      background: rgba(255, 255, 255, 0.6); */
}

h1.pageheader a, h1.pageheader a:hover {
    font-family: 'Raleway', sans-serif;
    font-size:65px;
    line-height:72px;

    color:red;
    text-shadow: 3px 3px 3px #000;
    /* text-align:center; */
    margin: 0 auto;

}

p,li, label {
    font-size:18px;
}

footer { text-align: center;}


.span-center{
	text-align: center;
}

.float-left{
	float: left;
}

.float-right{
	float: right;
}




/****** INTRO face ******/
#main-dot-face{
	position: fixed;
}

#main-line-face{
	position: fixed;
}

#enlargeBacteria{
	position: fixed;
	width:20px;
	height:20px;
	background-color: #2A9696;
	border-radius: 500px 500px 500px 500px;
	top:300px;
	left:792px;
}

#transition-bg{
	position:fixed;
	width:100%;
	height:100%;
	background-color: #2A9696;
	left:0px;
}


/****** TABS ******/
#amountPage{
	position: fixed;
	width:300px;
	height:300px;
	background-color: #2A9696;
	border-radius: 150px 150px 150px 150px;	
	text-decoration: none;
}

#sizePage{
	position: fixed;
	width:300px;
	height:300px;
	background-color: #2A9696;
	border-radius: 150px 150px 150px 150px;	
	text-decoration: none;
}

#diversityPage{
	position: fixed;
	width:300px;
	height:300px;
	background-color: #2A9696;
	border-radius: 150px 150px 150px 150px;	
	text-decoration: none;
}

#locPage{
	position: fixed;
	width:300px;
	height:300px;
	background-color: #2A9696;
	border-radius: 150px 150px 150px 150px;	
	text-decoration: none;
}











#cellSize{
	position: fixed;
}

#bacteriaSize{
	position: fixed;
}

#main-paper-bg{
	position: fixed;
}

#TenPercentHuman{
	position: fixed;
}

#cellSizeP{
	position: fixed;
}

#bacteriaSizeP{
	position: fixed;
}

#human-paper-bg{
	position: fixed;
}

#human-paper-data-wrapper{
	position: fixed;
}















/* ETC Reference */
.shadow {
	-moz-box-shadow: 0px 0px 30px #aaa;
	-webkit-box-shadow: 0px 0px 30px #aaa;
	box-shadow: 0px 0px 30px #aaa;
}


.gray{
	color: #B2B2B2;
}

.center{
/* 	height: 500px; */
	width: 940px;
	/* margin: 0 auto; */
	margin-left:auto; margin-right:auto;
/*
	position: fixed;
	left: 50%;
	margin-left: -470px;
*/

/*
	display: -webkit-box;
	display: -moz-box;
	display: box;

	-webkit-box-align: start;
	-moz-box-align: start;
	box-align: start;

	-webkit-box-pack: center;
	-moz-box-pack: center;
	box-pack: center;
}

.box-3{
	-webkit-box-flex: 3;
	-moz-box-flex: 3;
	box-flex: 3;
*/
}
